[Desktop Entry]
Type=Application
Name=unicornDock
GenericName=Desktop Panel
Icon=user-desktop
Exec=unicorndock
Terminal=false
Categories=Qt;KDE;Utility;
